.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user_wrapper {
    margin-bottom: 10px;
    /* padding: 10px; */
    cursor: pointer;
    transition: all ease-in-out .5s
}

.user_wrapper :hover {
    background-color: #F7F7F7;
    color: rgb(4, 2, 36);
    border-radius: 50px 8px 8px 50px;
    transform: scale(1);
}

.user_detail h4 {
    margin-left: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user_status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: auto;
}

.friend {
    background-color: #8ff3a0;
}

.selected_user {
    background-color: #ecf0ec;
}

.truncate {
    color: rgb(144, 27, 32);
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    margin-left: 4rem;
}

.truncate strong {
    margin-right: 10px;
}

.unread {
    margin-left: 10px;
    background: var(--color-3);
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
}

.shareIcon {
    font-size: 3.5rem;
    cursor: pointer;
    position: fixed;
    z-index: 19999999;
    bottom: 10%;
    right: 2%;
    padding: 4px;
    border-radius: 50px 50px 50px 5px;
    color: #ffffff;
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}