.chaticon {
    font-size: 3.5rem;
    cursor: pointer;
    position: fixed;
    z-index: 19999999;
    bottom: 10%;
    right: 2%;
    padding: 4px;
    border-radius: 50px 50px 50px 5px;
    color: #ffffff;
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}