.jobName {
    color: #30475e;
    font-size: 1.5rem;
    font-weight: 700;
}

.avatar {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.jobpostwrapper {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
}