.jobName {
    color: #30475e;
    font-size: 1.5rem;
    font-weight: 700;
}

.avatar {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.jobpostwrapper {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.38);
}

.delete {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    background: rgba(117, 13, 13, 0.81);
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    border: 0;
    outline: none;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    color: white;
    cursor: pointer;
}