.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 600px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    font-size: 15px;
}

.postComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.inputComment {
    width: 84%;
    border-radius: 5px;
    padding: 7px;
    border: none;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.commentfiled {
    background-color: rgb(252, 252, 252);
    border-radius: 6px 50px 44px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.D-non {
    display: none;
    padding: 2;
}

.deleteIcon {
    cursor: pointer;
}

.show-more-p {
    color: rgb(3, 3, 39);
    font-size: 0.9rem;
    font-weight: normal;
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #30475E;
    font-weight: 500;
    cursor: pointer;
    background: rgba(117, 13, 13, 0.81);
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    border: 0;
    outline: none;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    color: white;
}