* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

p {
    color: #222831;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #242526;
    --color-2: white;
    --color-3: #811e23;
    --color-4: grey;
    --color-5: #eb4034;
    --color-6: #222831;
}

.button {
    background: rgba(117, 13, 13, 0.81);
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    width: 100%;
    padding: 10px 20px;
    border: 0;
    outline: none;
    box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Indie+Flower&display=swap');
h2 {
    color: #222831!important;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    text-shadow: 2px 2px #76777a;
}