 .admin-container {
     height: 100vh;
     min-height: 100vh;
     background-color: #242322;
     margin: 0 auto;
 }
 
 .home {
     height: 100vh;
     min-height: 100vh;
     background-color: #242322;
     margin: 0 auto;
 }
 
 .profile_container {
     display: flex;
     align-items: center;
 }
 
 .vv {
     padding: 1rem;
 }
 
 .login {
     width: 400px;
     /* margin:230px auto; */
     padding: 40px;
     text-align: center;
 }
 
 .input-group {
     margin-bottom: 10px;
 }
 
 .input-group-prepend {
     margin-right: -2px;
 }
 
 .form-control:focus {
     border-color: initial;
     box-shadow: none
 }
 
 .login-hr {
     width: 100%;
     border-top: 1px solid #dc3545
 }
 
 .login-fa {
     display: block;
     transition: .8s all ease-in-out;
     color: #fff;
     font-size: 3rem;
     text-align: center;
 }
 
 .login-fa:hover {
     transform: rotate(360deg)
 }
 
 .admincard {
     color: #fff !important;
     text-align: center;
     display: flex;
     flex-direction: column column;
     min-width: 15rem;
     border-radius: 0.75em;
     transition: transform 270ms ease;
     position: relative;
     margin-bottom: 8rem;
 }
 
 .add-user {
     color: #fff !important;
 }
 
 .TrackAdminImg {
     width: 350px;
     height: 225px;
     border-radius: 5%;
     object-fit: cover;
     cursor: pointer;
     margin: 7px 10px 0px 180px;
     border: 3px solid #dc3545;
 }
 
 .admintittle {
     color: #ffffff!important;
     text-shadow: 3px 3px #949393ef;
 }