.textarea {
  border: 0ch;
  padding: 5px 0;
  width: 100%;
  padding-left: 10px;
  height: 200px;
  box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
}
