.button {
    background: rgba(117, 13, 13, 0.81);
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    width: 100%;
    padding: 10px 20px;
    border: 0;
    outline: none;
    box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    color: white;
}

.a {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}

.login__wrapper {
    padding: 0;
    margin: 10rem 0;
}

.form__wrapper {
    box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    border-radius: 30px;
}

.login__container {
    box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
    border-radius: 30px;
}

.ITI_Community {
    color: #913a3a;
    font-size: 3rem;
}