* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Indie+Flower&family=Pacifico&family=Patrick+Hand&family=Varela+Round&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Indie+Flower&family=Pacifico&family=Varela+Round&display=swap'); */

h2 {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Patrick Hand', cursive;
    /* font-family: 'Indie Flower', cursive; */
    font-weight: bolder;
    color: #222831!important;
    text-shadow: 2px 2px #89898bef;
}