* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Indie+Flower&display=swap');
h2 {
    color: #222831!important;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    text-shadow: 2px 2px #76777a;
}