.header {
    background-color: #222831;
}

.card-profile-image img {
    transition: all .15s ease-in-out;
    border-radius: 4%;
}

.user-profile-img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    background: linear-gradient(271deg, rgba(117, 13, 13, 0.81) 0%, #bd2f2f 80%);
    border: 5px solid transparent;
    box-shadow: -4px 6px 13px -1px rgba(0, 0, 0, 0.64);
}

.card-profile-image {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-profile-image img:hover {
    transform: scale(1.1)
}

.firstsec {
    justify-content: center;
    align-items: center;
    align-content: center;
}


/*  */

.button-51 {
    background-color: transparent;
    border: 1px solid #943939;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
    outline: 0;
}

.button-51:hover {
    background-color: transparent;
    cursor: pointer;
}

.button-51:before {
    background-color: #222831;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button-51:hover:before {
    background-color: #943939;
}

.userprofilecard {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}