.card {
    text-align: center;
    display: flex;
    flex-direction: column column;
    min-width: 15rem;
    max-width: calc(12.5rem + 13vw);
    background: #fff;
    border-radius: 0.75em;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 270ms ease;
    position: relative;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}

.imgo {
    display: block;
    max-height: 50%;
    aspect-ratio: 1;
    margin-bottom: 1em;
    width: 100%;
}

.card-body {
    height: 200px;
    padding: 1em 0;
}

.card-text {
    color: #222831;
    text-align: center;
    margin: 1em auto;
    padding-inline: 0.5em;
    max-height: 6rem;
    overflow: hidden;
}

.btnD {
    background: #901b20;
    background: linear-gradient(128deg, #901b20 0%, #ff4444 80%);
    border: none;
    padding: 1rem;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
}

.card-link+.card-link {
    margin: 0;
}

.link {
    color: #901b20;
    font-size: 19px;
    text-decoration: none;
}

.course-card-body {
    height: auto;
    padding: 1em 0;
}